openai
numpy>1.21.6
torch>=1.10.0,!=1.12,<=2.0.1
transformers>=4.0.0
accelerate>=0.20.3
protobuf==3.20
ltp
pypinyin
Levenshtein
opencc
transformers_stream_generator
rich
readkeys
sentencepiece
accelerate
bitsandbytes
scipy
ujson
nltk
git+https://github.com/huggingface/peft.git
